@import 'variables';

* {
    font-family: 'Museo Moderno', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'title';
@import 'consultation';
@import 'forms';
@import 'media';
@import 'carousel';
@import 'catalog';