@font-face {
    font-family: 'Museo Moderno';
    src: local('../fonts/Museo Moderno Thin'), local('Museo-Moderno-Thin'),
        url('../fonts/MuseoModerno-Thin.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Thin.woff') format('woff'),
        url('../fonts/MuseoModerno-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Moderno';
    src: local('../fonts/Museo Moderno Light'), local('Museo-Moderno-Light'),
        url('../fonts/MuseoModerno-Light.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Light.woff') format('woff'),
        url('../fonts/MuseoModerno-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Moderno';
    src: local('../fonts/Museo Moderno Medium'), local('Museo-Moderno-Medium'),
        url('../fonts/MuseoModerno-Medium.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Medium.woff') format('woff'),
        url('../fonts/MuseoModerno-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Moderno';
    src: local('../fonts/Museo Moderno Bold'), local('Museo-Moderno-Bold'),
        url('../fonts/MuseoModerno-Bold.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Bold.woff') format('woff'),
        url('../fonts/MuseoModerno-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Moderno';
    src: local('../fonts/Museo Moderno Black'), local('Museo-Moderno-Black'),
        url('../fonts/MuseoModerno-Black.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Black.woff') format('woff'),
        url('../fonts/MuseoModerno-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }